<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        *{
            box-sizing: border-box;
        }
        body{
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background: #f6f5f7;
            font-family: 'monserrat', sans-serif;
            min-height: 100%;
            margin: 1%;
        }
        .container {
            position: relative;
            width: 38%;
            max-width: 100%;
            min-height: 100%;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            margin-top: 5%;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                        0 10px 10px rgba(0,0,0,0.22);
        }
        .sign-in{
            position: relative;
            top: 0;
            left: 0;
        }
        .sign-in{
            width: 100%;
            z-index: 2;
            height: 100%;
        }
        form{
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;
            height: 100%;
            text-align: center;
        }
        h1{
            font-size: 32px;
            font-weight: 800;
            margin: 0;
        }
        input{
            background: #eee;
            padding: 12px 15px;
            margin: 8px 15px;
            width: 100%;
            border-radius: 5px;
            border: none;
            outline: none;
        }
        button{
            color: #fff;
            background: #3b0349;
            font-size: 12px;
            font-weight: bold;
            padding: 12px 55px;
            margin: 20px;
            border-radius: 20px;
            border: 1px solid #3b0349;
            outline: none;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
            cursor: pointer;
        }
        button:active{
            transform: scale(0.90);
        }
        #signIn{
            background-color: transparent;
            border: 2px solid #fff;
        }
        .logo-container {
            position: relative;
            margin-top: 2%;
        }
        p {
            font-size: 400%;
            font-weight: bold;
            color: #3b0349;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div class="logo-container">
        <p>Wheelbazaar</p>
    </div>
    <div class="container" id="main">
        <div class="sign-in">
            <form onsubmit="login(event)" >
                <br>
                <br>
                <h1>Sign in</h1>
                <br>
                <input type="email" name="email" id="email" placeholder="Email" required="true">
                <input type="password" name="password" id="password" placeholder="Password" required="true">
                <button type="submit">Sign In</button>
                <br>
            </form>
        </div>
    </div>
    <script type="text/javascript">

        function login(event) {
            event.preventDefault();
            
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            
            fetch('/login/company', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            })
            
            .then(response => response.json())
            .then(data => {                                     // response ke data te nise
                if (data.message == 'Company Login successful') {
                    window.location.href = '/companyHome';
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>